.entryList .storageItem {
  background: url('/i/new/magazine/dotted.gif') repeat-x 0 100%;
  margin-bottom: 10px;
  padding: 20px 10px 20px 32px;
  position: relative;
  /*запись с картинкой слева */
}
.entryList .storageItem time {
  font: italic 13px / 17px Georgia, Times, "Times New Roman", serif;
  color: #777;
  display: block;
  margin-bottom: 5px;
}
.entryList .storageItem h2 {
  font: bold normal 24px / 28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  margin-bottom: 12px;
  overflow: hidden;
}
.entryList .storageItem h2 a {
  color: #000;
}
.entryList .storageItem h2 a span.userInSubject {
  text-transform: none;
}
.entryList .storageItem h2 a:hover span.userInSubject {
  color: #ff6633 !important;
}
.entryList .storageItem__author {
  font: italic 15px / 14px Georgia, Times, "Times New Roman", serif;
  color: #666666;
  display: block;
  margin: -9px 0 16px 0px;
}
.entryList .storageItem__lead {
  color: #333333;
  font-size: 13px;
  line-height: 16px;
  margin: 0 30px 15px 0;
}
.entryList .storageItem .image {
  margin-bottom: 15px;
  text-align: left;
}
.entryList .storageItem .lock {
  vertical-align: middle;
  margin: -6px 7px 0 0;
}
.entryList .storageItem.less {
  min-height: 338px;
  padding-left: 395px;
}
.entryList .storageItem.less .image {
  left: 30px;
  position: absolute;
  top: 20px;
}
.entryList .storageItem .storageItem__author-again {
  display: block;
  margin: -9px 0 16px 0px;
  color: #666666;
  font: italic 15px / 14px Georgia, Times, "Times New Roman", serif;
}
.entryList div#entry_53300 h2 a {
  display: inline-block;
}
