<!--MAIN BLOCK-->
<form method="post">
    <div>
        <h2>Заголовок</h2>
        <input type="text" name="title" placeholder="Заголовок"/>
    </div>
    <br/>
    <div>
        <h2>Категория</h2>
        <select name="category">
            <option th:value="${category.id}" th:text="${category.name}"
                    th:each="category : ${categories}"/>
        </select>
    </div>
    <br/>
    <div>
        <h2>Текст</h2>
        <textarea type="text" name="text" cols="100" rows="20" placeholder="Текст"/>
    </div>
    <br/>
    <br/>
    <div>
        <p>
            <button class="deleteButton" type="submit">Сохранить</button>
        </p>
    </div>
</form>
