<!--MAIN BLOCK-->
<form method="post">
    <div>
        <h2>Заголовок</h2>
        <input name="articleId" th:value="${article.id}" type="hidden"/>
        <input type="text" name="title" th:value="${article.title}"/>
    </div>
    <br/>
    <div>
        <h2>Категория</h2>
        <select name="category">
            <option th:value="${category.id}" th:text="${category.name}"
                    th:each="category : ${categories}"/>
        </select>
    </div>
    <br/>
    <div>
        <h2>Текст</h2>
        <textarea type="text" name="text" cols="100" rows="20" th:text="${article.text}"/>
    </div>
    <br/>
    <br/>
    <div>
        <p>
            <button class="deleteButton" type="submit">Сохранить</button>
        </p>
    </div>
</form>
