<html>
<head>
    <link href="/files/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <title>SomeTimes Новости</title>
</head>
<body>
<div class="top">
    <!--Header-->
    <div class="header">
        <!--Logo-->
        <a class="logo" href="/" title="Главная">
            <img src="/files/logo.png"/>
        </a>
        <div class="peoplesSpeak">
            <!--Photo-->
            <a class="photoBlock" href="/" title="Главная">
                <img class="ownersPhoto" src="/files/owner.jpg"/>
            </a>
            <!--Quote-->
            <div class="quote">
                <p class="speaker">Иван Бархатов</p>
                <p>Oooopsss...</p>
            </div>
        </div>
    </div>
    <!--Menu-->
    <div class="menuZone">
        <div class="menuPanel">
            <!--Categories-->
            <div class="categoriesZone">
                <a class="categoryButton" href="/">
                    <h3>Кажется что-то пошло не так...</h3>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mainBlock">
    <div class="articlesZone">
        <!--MAIN BLOCK-->
        <div class="topic">
            <h1>
                <a href="/">На главную</a>
            </h1>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="bottomZone">
    <div class="bottomPanel">
        <a href="https://vk.com/ibarhatov" class="creatingInfo">
            Бархатов Иван, 2017
        </a>
    </div>
</div>
</body>
</html>