<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/files/global.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/files/storage.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/files/entries.css" media="screen" rel="stylesheet" type="text/css"/>
    <title>SomeTimes Новости</title>
</head>
<body class="division-storage division-storage-blog blog_2797 blog_novosti storage_2797 q-art-5"
      data-promotion="[&quot;promotion\/q-art&quot;]" data-ga-key="UA-72696434-1" data-blog-id="2797"
      data-blog-tag="novosti" data-storage="1">

<div class="h-layoutWide" id="h-layoutWide">

    <header>
        <div class="narrowHeader clearfix">

            <a href="/" class="logo" title="Главная"><img src="/files/web-logo.png" alt="Somes."/></a>
            <div class="randomQuotation g-dsp">
                <a class="web usercard" href="/"><img
                        src="/files/owner.jpg"  border="0" width="124"
                        height="110"/></a>
                <div class="quotation">
                    <p>
                        <a class="userInSubject usercard"  href="http://vk.com/ibarhatov">Иван
                            Бархатов</a>
                    <p>Oooopss...</p></p>
                </div>
                <div class="quotation-decor"></div>
            </div>

        </div>
        <div class="h-h-mainMenu h-h-mainMenu_new">
            <div class="h-mainMenu clearfix">
                <ul class="mainMenu">
                    <li>
                        <p>
                        <h1><strong>Кажется что-то пошло не так...</strong></h1></p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="h-layoutNarrow">
        <div class="storageTitle clearfix">

            <br/>
            <p>
            <h1><strong><a href="/">На главную</a> </strong></h1></p>
        </div>
    </div>
</div>
</body>
</html>